@model Tella_CMS.Efs.Entities.Order_Pro

<div style="text-align: center" class="alert alert-primary" role="alert">
    <h4>Tạo đơn hàng mới</h4>
</div>
<hr />
<form asp-controller="Order_Pro" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại</a>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Code" class="col-form-label">Mã đơn hàng</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Code" class="k-textbox form-control" placeholder="VD: XH17102112019001 (Địa chỉ _ Ngày tháng _ Mã số) " required />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Fk_Customer_Id" class="col-form-label">Mã khách hàng</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Fk_Customer_Id" class="k-textbox form-control" required />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Fk_Customer_Id" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Fk_Product_Id" class="col-form-label">Mã sản phẩm</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Fk_Product_Id" class="k-textbox form-control" required />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Fk_Product_Id" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
            <label asp-for="Quanlity" class="col-form-label">Số lượng</label>
            <span class="text-danger">*</span>
        </div>
        <div class="col-md-7">
            <input asp-for="Quanlity" class="k-textbox form-control" required />
        </div>
        <div class="offset-md-3 col-md-7 at-wrapper-validate">
            <span asp-validation-for="Quanlity" class="text-danger"></span>
        </div>
    </div>  
    


    <div class="row form-group">
        <div class="col-md-3 text-md-right ">
        </div>
        <div class="col-md-7">
            <input type="submit" value="Tạo" class="btn btn-primary" />
            <a asp-action="Index" class="k-button">Quay lại</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
